:root{
  --main-color:#DECBA4;
  --hover-color:#3E5151;
  --text-color:#4b134f;
}
 .nav_tools{
font-size: 0;
text-align: center;
padding-top: 30px;
  
} 
.offer{
display: inline-block;
position: relative;
background:linear-gradient(#3E5151,#DECBA4);
/* background-color:var(--main-color); */
color:var(--text-color);
font-size: initial;

}
.offer + .offer{
  border-left: 1px solid var(--main-color);
} 
.offer:hover{
  background:var(--hover-color);
}

.categories_link{
display: inline-block;
padding: 1em 2em;
}

.nav_tools_sub{
  display: none;
  position: absolute;
  left: 0;
  right: 0;
}
.nav_tools_sub .nav_tools_sub{
display: none;
width: 100%;
position: absolute;
left:100%;
top:0;
}
.offer:hover .nav_tools_sub{
  display: block;
}
.kinds_offer{
  display: block;
}